main.oauth {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;

  img {
    width: 6rem;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
  }
}
